# fly.toml app configuration file generated for go4it-zenith-space-cmlco6oy on 2026-02-09T18:33:47-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'go4it-zenith-space-cmlco6oy'
primary_region = 'ord'

[env]
  AUTH_TRUST_HOST = 'true'
  DATABASE_URL = 'file:/data/app.db'
  NODE_ENV = 'production'
  PORT = '3000'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
